pydantic~=2.12.5
openai~=2.15.0
torch~=2.9.1+cu130
transformers~=4.57.3
datasets~=4.4.2
tqdm~=4.67.1
ollama~=0.6.1
Levenshtein~=0.27.3
numpy~=2.2.6
pandas~=2.3.3
scikit-learn~=1.7.2
sentence-transformers~=5.2.0
PyYAML~=6.0.3
cffi~=2.0.0
requests~=2.32.5
safetensors~=0.7.0
sentencepiece~=0.2.1
Jinja2~=3.1.6
huggingface-hub~=0.36.0
annotated-types~=0.7.0
python-dotenv~=1.2.1